@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;600;700;1000;2000&family=Open+Sans&display=swap');

:root{
    --text-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --bg-1: rgb(175, 104, 234);
    --bg-2: rgb(100, 98, 231);
    --dvd: hsl(240, 5%, 91%);
    --font1:'Kumbh Sans', sans-serif;
}
/* bg */
html{
    height: 100%;
    width: 100%;
}
body{
    background: linear-gradient(var(--bg-1), var(--bg-2));
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
}
/* card */
.box{
    top: 100px;
    width: 65%;
    height: 73vh;
    background-image: 
        url('./bg-pattern-desktop.svg'),
        url('./illustration-woman-online-desktop.svg');
    background-position: 
        -428px -200px,
        -80px 70px;
    background-size: 
        850px,
        500px;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: rgb(30, 29, 61) 0px 20px 50px -25px;
}
/* text */
h1{
    font-size: 2.3rem;
    font-weight: 1000;
    padding-left: 40px;
}
.faq{
    padding: 40px 100px 100px 480px;
    line-height: 2rem;
}
#ttle{
    padding-bottom: 20px;
}
.faqhead{
    font-size: .9rem;
    color: var(--text-blue);
    cursor: pointer;
    font-weight: 500;
    opacity: 0.8;
    padding-bottom: 15px;
}
.faqhead:hover{
    color: var(--text-red);
}
.droptext{
    display: none;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.8rem;
    color: var(--text-blue);
    opacity: 0.6;
    line-height: 1.25rem;
}
hr{
    opacity: 0.4;
}
/* box-image */
.box2{
    position: absolute;
    top: 320px;
    left: 180px;
    z-index: 10;
    filter: drop-shadow(0px 10px 5px rgba(30, 29, 61, 0.5));
}

/* down arrow */
.arrow{
    display: block;
    margin-top: -15px;
    margin-left: 330px;
    /* transition: transform 300ms ease; */
    align-items: center;
}

/* on clicked functions */
.arrow-clicked {
    transform: rotate(180deg);
}

.faqhead-clicked {
    font-weight: 900;
}

.sect-clicked .droptext{
    display: inline-block;
}