@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
:root{
    --text-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --bg-1: rgb(175, 104, 234);
    --bg-2: rgb(100, 98, 231);
    --dvd: hsl(240, 5%, 91%);
    --font1:'Kumbh Sans', sans-serif;
}
/* bg */
html{
    height: 100%;
    width: 100%;
}
body{
    background: linear-gradient(var(--bg-1), var(--bg-2));
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    color: hsla(238, 29%, 16%, 0.7);
}
/* body */
.box{
    top: 100px;
    width: 65%;
    height: 70vh;
    background-image: url('./bg-pattern-desktop.svg'), url('./images/illustration-woman-online-desktop.svg');
    background-position: -300px -200px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px 2px;
}
/* text */
h1{
    font-weight: 5000;
    padding-left: 40px;
}
.faq{
    padding: 80px 80px 0px 380px;
    line-height: 2rem;
}
.faqhead{
    font-size: 1rem;
    font-weight: 1000;
    color: var(--text-blue);
    cursor: pointer;
    visibility: visible;
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
}
.faqhead:hover{
    color: var(--text-red);
}
ul{
    /* visibility: collapse; */
    font-weight: 500;
}
